<!-- travel/itinerary_detail.html -->
{% extends "base.html" %}

{% block content %}
<h1>{{ object }}</h1>

{% if request.user.username != object.created_by.user.username and object not in request.user.profile.saved_itineraries.all %}
    <button onclick="saveItinerary('{{ object }}')">Save Itinerary</button>
{% endif %}

<div>
    <small>
        Created by <a href="{{ itinerary.created_by.get_absolute_url }}">{{ itinerary.created_by }}</a> on {{ object.created_at }}
    </small>
</div>

<div>Description:</div>
<div>{{ object.description }}</div>

<div>Budget:</div>
<div>{{ object.budget }}</div>

<div>Trip Length:</div>
<div>{{ object.trip_length }}</div>

<div>Month:</div>
<div>{{ object.month }}</div>

<div>Climate:</div>
<div>{{ object.climate }}</div>

<div>Number of Saves: {{ object.saves.all.count }}</div>
<div>Saved by:</div>
<ul>
    {% for save in object.saves.all %}
        <li>{{ save }}</li>
    {% empty %}
        <li>Not saved by any users yet.</li>
    {% endfor %}
</ul>

{% endblock %}